# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VSCode / Antigravity
.vscode/
.idea/

# ----------------------
# Data
# ----------------------
data/

# Model checkpoints
checkpoints/
*.pth
*.pt
*.ckpt

# TensorBoard
runs/

# Logs
logs/

# OS files
.DS_Store
Thumbs.db